@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #faf8f4;
  --header-color: #1e1e1e;
  --primary-color: #2c2c2c;
  --secondary-color: #c8956c;
  --tagline: #888;
  --instruction-text: #3a3a3a;
  --note-text: #555;
  --attribution-text: #aaa;
  --divider-lines: #e0d9ce;
  --border-lines: #f0ebe3;
  --box-background: #fff;
  --hover-background-1: #f5f0e8;
  --main-font: Lato, san-serif;
  --header-font: "Playfair Display", serif;
}

/* animation for when screen loads */
@keyframes FadeIn {
  0% {
    opacity: 0.1;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: 16px;
  font-family: var(--main-font);
  animation: FadeIn 0.4s ease-out forwards;
}

/* MOBILE-FIRST DESIGN */

main {
  width: 90vw;
  margin: 0 auto;
}

/* Header Information */

/* Title and tagline */
.title-header {
  border-left: 4px solid var(--secondary-color);
  margin: 2rem 0;
  padding: 0 1.2rem;
}

h1 {
  color: var(--header-color);
  font-family: var(--header-font);
  font-size: 2rem;
}

.tagline {
  color: var(--tagline);
  font-family: var(--header-font);
  font-size: 0.8rem;
  font-style: italic;
}

/* Recipe Information */
.recipe-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--box-background);
  border-radius: 5px;
  border: 1px solid var(--divider-lines);
  margin-bottom: 2rem;
}

.info-item {
  border-right: 1px solid var(--divider-lines);
  border-bottom: 1px solid var(--divider-lines);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.4rem;
  padding: 0.9rem 0;
}
/* Removes the extra border lines from the right and bottom of the 2nd, 3rd and 4th cells respectively*/
.info-item:nth-child(2n) {
  border-right: none;
}

.info-item:nth-child(4n),
.info-item:nth-child(3n) {
  border-bottom: none;
}

.stat {
  color: var(--secondary-color);
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.info {
  font-size: 0.75rem;
  font-weight: 700;
}

section {
  margin-bottom: 3.5rem;
}

/* Hero Image */
.hero-img img {
  width: 100%;
  height: 220px;
  margin-bottom: 2.5rem;
  object-fit: cover;
  object-position: 50% 65%;
  border-radius: 4px;
  box-shadow: 0 3px 10px #e8e0d5;
  animation: FadeIn 0.8s ease-out forwards;
}

/* All heading two and three's */
h2 {
  color: var(--header-color);
  font-size: 1.125rem;
  font-family: var(--header-font);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid var(--divider-lines);
  padding: 0.5rem 0;
}

.bullet {
  width: 7px;
  height: 7px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

h3 {
  color: var(--secondary-color);
  font-size: 0.7rem;
  margin: 0.9rem 0 0.3rem 0;
  letter-spacing: 2.5px;
}

/* Ingredients list */
.ingredient-items {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: circle;
  list-style-position: inside;
}

.ingredient-items > li {
  font-size: 0.812rem;
  padding: 0.6rem 0.8rem;
  border-bottom: 1px solid var(--border-lines);
}

.ingredient-items > li::marker {
  font-weight: bolder;
  color: var(--secondary-color);
  font-family: var(--main-font);
}

.ingredient-items > li > em {
  font-weight: 300;
  font-size: 0.65rem;
}

/* Instruction list */
.instruction-items {
  list-style: none;
  list-style-position: inside;
  counter-reset: steps;
}

.instruction-items > li {
  font-size: 0.812rem;
  padding: 0.6rem 0;
  color: var(--instruction-text);
  counter-increment: steps;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
  transition: transform 0.8s ease-out;
}

.instruction-items li::before {
  content: counter(steps);
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 0.6rem;
  font-weight: 700;
}

/* Nutrition facts */
#nutrition-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

thead th {
  background-color: var(--primary-color);
  color: var(--box-background);
  padding: 0.7rem;
  text-align: left;
  font-size: 0.7rem;
  letter-spacing: 2px;
}

thead th:nth-child(1) {
  border-top-left-radius: 6px;
}

thead th:nth-child(2) {
  border-top-right-radius: 6px;
  border-left: 1px solid var(--primary-color);
}

tbody tr {
  border-bottom: 1px solid var(--border-lines);
}

tbody tr:nth-child(10) {
  border-bottom: none;
}

tbody td {
  padding: 0.6rem 0.8rem;
  font-size: 0.812rem;
}

tbody td:nth-child(even) {
  font-weight: 700;
  text-align: end;
}

.unit {
  font-size: 0.7rem;
}

/* Tips box */
#tip-section {
  margin-bottom: 1rem;
}

.tip-box {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--box-background);
  padding: 1rem 1.2rem;
  border-radius: 6px;
  border: 1px solid var(--border-lines);
  border-left: 4px solid var(--secondary-color);
}

.tip-items {
  color: var(--note-text);
  font-size: 0.812rem;
  list-style: none;
}

.tip-items li {
  padding: 0.5rem 0;
  border-bottom: 2px dotted var(--border-lines);
}

.tip-items li:last-child {
  border-bottom: none;
}

.tip-items span {
  font-weight: 700;
}

.source {
  text-align: end;
  font-size: 0.688rem;
  font-style: italic;
  font-family: var(--header-font);
  color: var(--attribution-text);
}

.source a {
  color: var(--attribution-text);
  cursor: pointer;
}

/* Footer */

footer {
  width: 90vw;
  margin: 0 auto;
}

.footer-divider {
  width: 100%;
  border-bottom: 1px solid var(--divider-lines);
  margin: 0 auto;
}

footer p {
  font-size: 0.7rem;
  padding: 0.7rem 0;
  font-weight: 700;
  letter-spacing: 1px;
}

footer p > a {
  color: var(--secondary-color);
}

#nav-arrow {
  color: var(--secondary-color);
  font-size: 0.65rem;
  transition: transform 0.3s ease-out;
}

/* TABLETS/LAPTOPS VIEW */
@media screen and (min-width: 768px) {
  main {
    width: 80vw;
  }
  /* Header Information */
  h1 {
    font-size: 2.625rem;
  }

  .tagline {
    font-size: 0.9375rem;
  }

  .recipe-information {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Remove extra border from bottom from the 1st and 2nd cells and Add border to the right of 2nd cell */
  .info-item:nth-child(1n),
  .info-item:nth-child(2n) {
    border-bottom: none;
  }

  .info-item:nth-child(2n) {
    border-right: 1px solid var(--divider-lines);
  }

  .stat {
    font-size: 0.625rem;
  }

  .info {
    font-size: 0.875rem;
  }

  /* Hero Image */
  .hero-img img {
    height: 340px;
    border-radius: 6px;
  }

  /* H2 and H3 */
  h2 {
    font-size: 1.375rem;
    font-weight: 700;
  }

  .bullet {
    width: 8px;
    height: 8px;
  }

  h3 {
    font-size: 0.72rem;
    margin: 1.2rem 0 0.4rem 0;
  }

  /* Ingredient List */
  .ingredient-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .ingredient-items > li {
    font-size: 0.875rem;
  }

  /* Instruction List */
  .instruction-items li {
    font-size: 0.938rem;
    gap: 1rem;
  }

  .instruction-items li::before {
    font-size: 0.7rem;
  }

  /* Nutrition Facts */
  thead th {
    font-size: 0.68rem;
  }

  tbody td {
    font-size: 0.89rem;
  }

  /* Tips Box */
  .tip-items {
    font-size: 0.89rem;
  }

  .source {
    font-size: 0.812rem;
  }

  /* Footer */
  footer {
    width: 80vw;
  }

  footer p {
    font-size: 0.812rem;
  }

  #nav-arrow {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    width: 50vw;
  }

  footer {
    width: 50vw;
  }

  /* hover effects for only desktops/laptops */
  .ingredient-items > li:hover {
    background-color: var(--hover-background-1);
  }

  /* target the list element first to hover on it but the effect should only be on the before content */
  .instruction-items li:hover::before {
    transform: scale(1.2);
    background-color: var(--tagline);
  }

  footer p > a:hover #nav-arrow {
    transform: translateX(5px);
  }
}
